[Unit]
Description=Moblink Relay Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/moblink-relay-service --network-interfaces-to-ignore "mob\\d+-.*|tailscale.*|docker.*" --database /etc/moblink-relay-service.json --no-log-timestamps
Restart=always
User=root

[Install]
WantedBy=multi-user.target